.main-container{
    padding: 45px;
}
.content-container{
    width: 100%;
}
.banner{
    width: 100%;
    margin-bottom: 50px;
}


@media screen and (max-width: 800px){
    .banner{
        display: none;
    }
}