.book-contents{
    display: flex;
    gap: 40px;
}
.book-photo {
    flex-shrink: 0;
    max-width: 350px;
    max-height: 550px;
    width: 100%;
    height: auto;
}
.book-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; /* opcjonalnie dla ładniejszego wyglądu */
}
.location a, .location i{
    color: grey;
    text-decoration: none;
}
.location .fa-arrow-right{
    font-size: 10px;
}
.book-title{
    font-size: 36px;
    margin: 0;
    padding: 0;
    height: unset;
}
.author{
    color: grey;
    font-size: 20px;
}